@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 207 61% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 41% 30%;
    --secondary-foreground: 0 0% 100%;

    --muted: 207 41% 30%;
    --muted-foreground: 0 0% 70%;

    --accent: 207 61% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 207 41% 30%;
    --input: 207 41% 30%;
    --ring: 207 61% 48%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --card: 0 0% 0%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;

    --primary: 207 61% 48%;
    --primary-foreground: 0 0% 100%;

    --secondary: 207 41% 30%;
    --secondary-foreground: 0 0% 100%;

    --muted: 207 41% 30%;
    --muted-foreground: 0 0% 70%;

    --accent: 207 61% 48%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 207 41% 30%;
    --input: 207 41% 30%;
    --ring: 207 61% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  ::selection {
    @apply bg-accent text-yellow-200;
  }
}
